.title-row h2,
.rates-row h2 {
    text-align: center;
    margin-bottom: 1.25rem;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button-group button {
    width: 50%; 
}

.Form-Group Col {
    display: flex;
    justify-content: center;
}

.Form-Group Col .form-control {
    width: 75%; 
}

.rates-list {
    max-height: 18.75rem; 
    overflow-y: auto;
}

ul {
    padding-left: 1rem; 
}

li {
    margin-bottom: 0.5rem; 
}

h2 { 
    font-size: 1rem;
}

