.navbar {
    background-color: var(--bs-body-tertiary);
    margin-bottom: 1.25rem; 
}

.navbar-brand {
    color: #141414;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #ccc;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.nav-link {
    align-content: center;
    color: #1e1e1e;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #cbd3da;
}

.auth-buttons {
    display: flex;
    justify-content: center;
}

.offcanvas-header {
    border-bottom: 0.0625rem solid #dee2e6; 
}

.offcanvas-title {
    color: #004085;
    font-size: 1.25rem;
}

.offcanvas-body .nav-link {
    padding-bottom: 0.625rem; 
}

.logout-button {
    background-color: #d9534f;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.5rem 0.75rem; 
    border-radius: 0.3125rem; 
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c12e2a;
}
