.navbar {
    background-color: var(--bs-body-tertiary);
    margin-bottom: 1.25rem; 
}

.navbar {
    color: #141414;
    font-size: 2em; /* Updated to a more reasonable size */
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer; /* Changes cursor to pointer to indicate clickable */
}

.navbar:hover {
    color: #c1b5b5;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.nav-link {
    align-content: center;
    color: #1e1e1e;
    transition: color 0.2s;
    cursor: pointer; /* Changes cursor to pointer to indicate clickable */
    font-size: 1rem; /* Standard size for better readability */
}

.nav-link:hover {
    color: #d40000;
}

.auth-buttons {
    display: flex;
    justify-content: center;
}

.offcanvas-header {
    border-bottom: 0.0625rem solid #dee2e6; 
}

.offcanvas-title {
    color: #004085;
    font-size: 1.5rem; /* Enhanced size for header titles */
}

.offcanvas-body .nav-link {
    padding-bottom: 0.625rem; 
    font-size: 1.2rem; /* Slightly larger for better readability in offcanvas menu */
}

.logout-button {
    background-color: #d9534f;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.5rem 0.75rem; 
    border-radius: 0.3125rem; 
    transition: background-color 0.3s;
    cursor: pointer; /* Changes cursor to pointer to indicate clickable */
    font-size: 1.2rem; /* Larger size for better visibility and accessibility */
}

.logout-button:hover {
    background-color: #c12e2a;
}
