.translated-box {
  border: 2px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  background-color: #f9f9f9; /* Background color */
  margin-top: 20px; /* Margin from the top */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  max-width: 100%; /* Maximum width */
  /* overflow-wrap: break-word; Break long words */
  /* word-wrap:break-word; */
  white-space:pre-wrap;
  height: 200px;
  display: flex;
  justify-content: center;
}

.translator-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center;
}


